<table border="1" table-layout="fixed">
    <tr class= 'nowrap'>
        <td><b>邮件编号</b></td>
        <td><b>行业市场</b></td>
        <td><b>客户类别</b></td>
        <td><b>客户代号</b></td>
        <td><b>客户名称</b></td>
        <td><b>收寄单位机构代码</b></td>
        <td><b>收寄单位名称</b></td>
        <td><b>收寄单位区分公司</b></td>
        <td><b>收寄日期时间</b></td>
        <td><b>最后投递单位所属区分公司</b></td>
        <td><b>最后投递单位代号</b></td>
        <td><b>最后投递单位名称</b></td>
        <td><b>当前投递结果</b></td>
        <td><b>最后投递详情</b></td>
        <td><b>最后操作时间</b></td>
    </tr>
    <% @results.each do |x| %>
    <tr class= 'nowrap'>
        <td><%= x.express_no %></td>
        <td><%= x.business.industry %></td>
        <td><%= x.business.btype %></td>
        <td><%= x.business.code %></td>
        <td><%= x.business.name %></td>
        <td><%= x.post_unit.try(:no) %></td>
        <td><%= x.post_unit.try(:name) %></td>
        <td><%= x.post_unit.try(:parent_unit).try(:name) %></td>
        <td><%= x.posting_date %></td>
        <td><%= x.last_unit.try(:parent_unit).try(:name) %></td>
        <td><%= x.last_unit.try(:no) %></td>
        <td><%= x.last_unit.try(:name) %></td>
        <td><%= x.status_name %></td>
        <td><%= x.last_op_desc %></td>
        <td><%= x.last_op_at %></td>
    </tr>
    <% end %>