
  <table>
    <tr style="line-height: 40px;height: 40px;">
      <% if !@is_court.nil? %>
        <% if !@is_court %>
          <td><%= label_tag(:industry, "二级行业名称:") %></td>
          <td><%= select_tag(:industry, options_for_select(Business.where.not(industry: "法院").select(:industry).distinct.map{|i| [i.industry,i.industry]}.insert(0,""), :selected=> params[:industry]), id: "industry") %></td>
          <td><%= label_tag(:btype, "客户类别:") %></td>
          <td><%= select_tag(:btype, options_for_select(Business.where.not(industry: "法院").select(:btype).distinct.map{|i| [i.btype,i.btype]}.insert(0,""), :selected=> params[:btype]), id: "btype") %></td>
        <% else %>
          <%= hidden_field_tag('industry', '法院') %>
          <td><%= label_tag(:btype, "客户类别:") %></td>
          <td><%= select_tag(:btype, options_for_select(Business.where(industry: "法院").select(:btype).distinct.map{|i| [i.btype,i.btype]}.insert(0,""), :selected=> params[:btype]), id: "btype") %></td>
        <% end %>   
      <% else %>
        <td><%= label_tag(:industry, "二级行业名称:") %></td>
        <td><%= select_tag(:industry, options_for_select(Business.all.select(:industry).distinct.map{|i| [i.industry,i.industry]}.insert(0,""), :selected=> params[:industry]), id: "industry") %></td>
        <td><%= label_tag(:btype, "客户类别:") %></td>
        <td><%= select_tag(:btype, options_for_select(Business.all.select(:btype).distinct.map{|i| [i.btype,i.btype]}.insert(0,""), :selected=> params[:btype]), id: "btype") %></td>
      <% end %>  
      <td><%= label_tag(:business, "客户:") %></td>
      <td><%= text_field_tag(:business, params[:business]) %></td>  
      <td><%= label_tag(:destination, "寄递范围:") %></td>
      <td><%= select_tag :destination, options_for_select(Report.select_destinations, :selected=>params[:destination]) %></td> 
      <% if !@is_market.nil? && !@is_market %>
        <td><%= label_tag(:lv2_unit, "区分公司:") %></td>
        <td><%= select_tag(:lv2_unit, options_for_select(Unit.where(level: 1).map{|u| [u.name,u.id]}.insert(0,""), :selected=> params[:lv2_unit]), id: "lv2_unit") %></td>
      <% end %>
      <td><%= label_tag(:product, "产品类型:") %></td>
      <td><%= select_tag :product, options_for_select(Express::BASE_PRODUCT_NAME.invert.to_a.insert(0,""), :selected=>params[:product]) %></td> 
    </tr>
  </table>
  <% if !@is_province.blank? && @is_province %>
    <table>
      <tr style="line-height: 40px;height: 40px;">
        <td><%= label_tag(:distributive_center_no, "集散中心:") %></td>
        <td><%= select_tag :distributive_center_no, options_for_select(Express::DISTRIBUTIVE_CENTER_NAME.invert.to_a.insert(0,""), :selected=>params[:distributive_center_no]) %></td> 
        <td><%= label_tag(:posting_hour_start, "按收寄时间点:") %></td>
        <td><%= select_tag :posting_hour_start, options_for_select(Report.select_posting_hours, :selected=>params[:posting_hour_start].blank? ? "0" : params[:posting_hour_start]) %></td> 
        <td><%= label_tag(:posting_hour_end, "-") %></td>
        <td><%= select_tag :posting_hour_end, options_for_select(Report.select_posting_hours, :selected=>params[:posting_hour_end].blank? ? "24" : params[:posting_hour_end]) %></td> 
      </tr>
    </table>
  <% end %>
    
  <% if !@is_monitor %>
    <%= radio_button_tag(:search_time, 'by_m', (@search_time.eql?"by_m")) %><b>按月查询</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= radio_button_tag(:search_time, 'by_d', (@search_time.eql?"by_d")) %><b>按日期查询</b>

    <div id="by_date">
      <table>
        <tr style="line-height: 40px;height: 40px;">
          <td><%= label_tag(:posting_date_start, "收寄范围:") %></td>
          <td><%= text_field_tag(:posting_date_start, params[
            :posting_date_start], class: 'datepicker', 'data-date-format' => 'yyyy-mm-dd', value: params[:posting_date_start].blank? ? Date.today-7.day : params[:posting_date_start]) %></td>
          <td><%= label_tag(:posting_date_end, "-") %></td>
          <td><%= text_field_tag(:posting_date_end, params[:posting_date_end], class: 'datepicker', 'data-date-format' => 'yyyy-mm-dd', value: params[:posting_date_end].blank? ? Date.today-2.day : params[:posting_date_end]) %></td>
        </tr>
      </table>
    </div>
    <div id="by_month">
      <table>
        <tr style="line-height: 40px;height: 40px;">
          <td><%= label_tag(:year, "年:", :style => "padding:0px") %></td>
          <td><%= select_tag :year, options_for_select(Report.select_years, :selected=>(params[:year].blank? ? Time.now.year.to_s : params[:year])) %></td>
          <td><%= label_tag(:month, "月:", :style => "padding:0px") %></td>
          <td><%= select_tag :month, options_for_select(Report.select_months, :selected=>(params[:month].blank? ? Time.now.month.to_s : params[:month])) %></td>
        </tr>
      </table>
    </div>
  <% else %>
    <%= hidden_field_tag('posting_date_start', Date.today-1.day) %>
    <%= hidden_field_tag('posting_date_end', Date.today) %>
  <% end %>
  <font color="red" size=2>注："客户"输入框可输入客户代号或客户名称进行模糊查询</font>
      

  <%= hidden_field_tag('is_search', @is_search) %> 
  <%= hidden_field_tag('is_court', @is_court) %>
  <%= hidden_field_tag('search_type', @search_time) %>
  <%= hidden_field_tag('is_monitor', @is_monitor) %>
  <%= hidden_field_tag('is_province', @is_province) %>
 