
<br>
<font face="微软雅黑" color='#006030' size=6>法院投递情况实时监控-市场维度</font>   
<%= form_tag(court_deliver_market_monitor_reports_path, name: 'form', method: 'post') do %>
<%= render :partial => 'form' %>

<table>
    <tr>
      <td>
        <div id="market_monitor_search">
          <%= submit_tag "查询", :class => 'btn btn-primary', method: :post %>
        </div>
      </td>
      <td>
        <div id="export">
          <%= link_to "报表导出", get_expresses_path("/reports/deliver_market_report_export", nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil), :class => 'btn btn-primary', method: :post%>
        </div>
      </td>
    </tr>
  </table>
<% end -%>    
<br>
<% if !@results.blank? %>
<table data-toggle="table" 
data-height="700">
  <thead>
    <tr class= 'nowrap'>
      <th><b>客户类别</b></th>
      <th><b>收寄数</b></th>
      <th><b>总妥投数</b></th>
      <th><b>本人收数</b></th>
      <th><b>他人收数</b></th>
      <th><b>单位/快递柜收数</b></th>
      <th><b>妥投率</b></th>
      <!-- <th><b>三日妥投率</b></th>
      <th><b>次日妥投率</b></th>
      <th><b>五日妥投率</b></th> -->
      <th><b>未妥投总数</b></th>
      <th><b>在途中数</b></th>
      <th><b>投递端数</b></th>
      <th><b>未妥投率</b></th>
      <th><b>退回数</b></th>
      <th><b>退回率</b></th>
    </tr>
  </thead>
  <tbody>
  <% @results.each do |k, v| %>
   <tr class= 'nowrap'>
    <% if k.eql?"合计" %>
      <td><%= k %></td>
    <% else %>
      <td><u><%= link_to k, get_expresses_path("/reports/business_market_report", k, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %>
      </u></td>
    <% end %>
    <td><u><%= link_to v[0], get_expresses_path("/expresses", k, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
    <td><u><%= link_to v[1], get_expresses_path("/expresses", k, "delivered", nil, nil, nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
    <td><u><%= link_to v[2], get_expresses_path("/expresses", k, "delivered", nil, nil, nil, nil, nil, nil, nil, nil, "own", nil), target: '_blank' %></u></td>
    <td><u><%= link_to v[3], get_expresses_path("/expresses",k, "delivered", nil, nil, nil, nil, nil, nil, nil, nil, "other", nil), target: '_blank' %></u></td>
    <td><u><%= link_to v[4], get_expresses_path("/expresses", k, "delivered", nil, nil, nil, nil, nil, nil, nil, nil, "unit", nil), target: '_blank' %></u></td>
    <td><%= v[5].to_s(:rounded, precision: 2)+"%" %></td>
    <!-- <td><%= v[6].to_s(:rounded, precision: 2)+"%" %></td>
    <td><%= v[7].to_s(:rounded, precision: 2)+"%" %></td>
    <td><%= v[12].to_s(:rounded, precision: 2)+"%" %></td> -->
    <td id='waiting'><%= link_to v[8], get_expresses_path("/expresses", k, "waiting", nil, nil, nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></td>
    <td id='waiting'><%= link_to v[13], get_expresses_path("/expresses", k, "waiting", nil, nil, "in_transit", nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></td>
    <td id='waiting'><%= link_to v[14], get_expresses_path("/expresses", k, "waiting", nil, nil, "delivery_part", nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></td>
    <td><font color="red"><%= v[9].to_s(:rounded, precision: 2)+"%" %></font></td>
    <td><u><%= link_to v[10], get_expresses_path("/expresses", k, "returns", nil, nil, nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
    <td><%= v[11].to_s(:rounded, precision: 2)+"%" %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>
