
<br>
<font face="微软雅黑" color='#006030' size=6>法院投递情况监控报表-投递维度</font>   
<%= form_tag(court_deliver_unit_report_reports_path, name: 'form', method: 'post') do %>
<%= render :partial => 'form' %>
<table>
    <tr>
      <td>
        <div id="market_monitor_search">
          <%= submit_tag "查询", :class => 'btn btn-primary', method: :post %>
        </div>
      </td>
      <td>
        <div id="export">
          <%= link_to "报表导出", get_expresses_path("/reports/deliver_unit_report_export", nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil), :class => 'btn btn-primary', method: :post%>
        </div>
      </td>
    </tr>
  </table>
<% end -%> 

<br>
<% if !@results.blank? %>
  <table data-toggle="table" 
  data-height="700">
    <thead>
      <tr class= 'nowrap'>
        <th><b>单位</b></th>
        <th><b>网点</b></th>
        <th><b>总邮件数</b></th>
        <th><b>总妥投数</b></th>
        <th><b>本人收数</b></th>
        <th><b>他人收数</b></th>
        <th><b>单位/快递柜收数</b></th>
        <th><b>妥投率</b></th>
        <th><b>当日妥投率</b></th>
        <th><b>次日上午妥投率</b></th>
        <th><b>次日妥投率</b></th>
        <th><b>三日上午妥投率</b></th>
        <th><b>三日妥投率</b></th>
        <th><b>四日上午妥投率</b></th>
        <th><b>五日上午妥投率</b></th>
        <th><b>五日妥投率</b></th>
        <th><b>未妥投总数</b></th>
        <th><b>在途中数</b></th>
        <th><b>投递端数</b></th>
        <th><b>未妥投率</b></th>
        <th><b>退回数</b></th>
        <th><b>退回率</b></th>
      </tr>
    </thead>
    <tbody>
    <% last_pid = nil %>
    <% @results.each do |k, v| %>
    
       <tr class= 'nowrap'>
        <td><%= (k.blank? || (k.eql?"合计")) ? "" : ((v[0] == last_pid) ? "" : v[17]) %></td>
        <td><%= k.blank? ? "其他" : ((k.eql?"合计") ? k : v[16]) %></td>
        <td><u><%= link_to v[1], get_expresses_path("/expresses", nil, nil, (k.blank? ? "其他" : k), nil, nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[2], get_expresses_path("/expresses", nil, "delivered", (k.blank? ? "其他" : k), nil, nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[3], get_expresses_path("/expresses", nil, "delivered", (k.blank? ? "其他" : k), nil, nil, nil, nil, nil, nil, nil, "own", nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[4], get_expresses_path("/expresses", nil, "delivered", (k.blank? ? "其他" : k), nil, nil, nil, nil, nil, nil, nil, "other", nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[5], get_expresses_path("/expresses", nil, "delivered", (k.blank? ? "其他" : k), nil, nil, nil, nil, nil, nil, nil, "unit", nil), target: '_blank' %></u></td>
        <td><%= v[6].to_s(:rounded, precision: 2)+"%" %></td>
        <td><%= v[18].to_s(:rounded, precision: 2)+"%" %></td>
        <td><%= v[19].to_s(:rounded, precision: 2)+"%" %></td>
        <td><%= v[8].to_s(:rounded, precision: 2)+"%" %></td>
        <td><%= v[20].to_s(:rounded, precision: 2)+"%" %></td>
        <td><%= v[7].to_s(:rounded, precision: 2)+"%" %></td>
        <td><%= v[21].to_s(:rounded, precision: 2)+"%" %></td>
        <td><%= v[22].to_s(:rounded, precision: 2)+"%" %></td>
        <td><%= v[13].to_s(:rounded, precision: 2)+"%" %></td>
        <td id='waiting'><%= link_to v[9], get_expresses_path("/expresses", nil, "waiting", (k.blank? ? "其他" : k), nil, nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></td>
        <td id='waiting'><%= link_to v[14], get_expresses_path("/expresses", nil, "waiting", (k.blank? ? "其他" : k), nil, "in_transit", nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></td>
        <td id='waiting'><%= link_to v[15], get_expresses_path("/expresses", nil, "waiting", (k.blank? ? "其他" : k), nil, "delivery_part", nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></td>
        <td><font color="red"><%= v[10].to_s(:rounded, precision: 2)+"%" %></font></td>
        <td><u><%= link_to v[11], get_expresses_path("/expresses", nil, "returns", (k.blank? ? "其他" : k), nil, nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
        <td><%= v[12].to_s(:rounded, precision: 2)+"%" %></td>
        <% last_pid = v[0] %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
