
<br>
<font face="微软雅黑" color='#006030' size=6>法院投递情况监控报表-市场维度</font>   
<%= form_tag(court_deliver_market_report_reports_path, name: 'form', method: 'post') do %>
<%= render :partial => 'form' %>
<table>
    <tr>
      <td>
        <div id="market_monitor_search">
          <%= submit_tag "查询", :class => 'btn btn-primary', method: :post %>
        </div>
      </td>
      <td>
        <div id="export">
          <%= link_to "报表导出", get_expresses_path("/reports/deliver_market_report_export", nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil), :class => 'btn btn-primary', method: :post%>
        </div>
      </td>
    </tr>
  </table>
<% end -%>   

<br>
<%= render :partial => 'market_result' %>