
<br>
<font face="微软雅黑" color='#006030' size=6>投递情况监控报表-省市维度</font>   
<%= form_tag(deliver_city_report_reports_path, name: 'form', method: 'post') do %>
  <table>
    <tr>
      <td>
        <%= link_to "报表导出", get_expresses_path("/reports/deliver_prov_city_report_export", nil, nil, nil, nil, nil, nil, nil, nil, params[:receiver_province_no], nil, nil, nil, nil, nil), :class => 'btn btn-primary', method: :post%>
      </td>
    </tr>
  </table>
<% end -%>       
<br>
<% if !@results.blank? %>
  <table data-toggle="table" 
  data-height="700">
    <thead>
      <tr class= 'nowrap'>
        <th><b>收件市</b></th>
        <th><b>收寄数</b></th>
        <th><b>总妥投数</b></th>
        <th><b>本人收数</b></th>
        <th><b>他人收数</b></th>
        <th><b>单位/快递柜收数</b></th>
        <th><b>妥投率</b></th>
        <th><b>平均妥投天数</b></th>
        <% 
          d = 0.0

          while d <= params[:delivered_days_show].to_f-1
        %>
          <th><b><%= Report::DELIVERED_DAYS_NAME[d]%>妥投率</b></th>
          <th><b><%= Report::DELIVERED_DAYS_NAME[d]%>妥投总数</b></th>
        <%
            d += 0.5
          end
        %>  
        <th><b>未妥投总数</b></th>
        <th><b>未妥投率</b></th>
        <th><b>退回数</b></th>
        <th><b>退回率</b></th>
      </tr>
    </thead>
    <tbody>
    <% @results.each do |k, v| %>
     <tr class= 'nowrap'>
      <!-- 收件市 -->
      <% if !k[0].blank? && !(k[0].eql?"合计") %>
        <td><%= k[1].blank? ? k[0] : k[1] %></td>
      <% else %>
        <td><%= k[0].blank? ? "其他" : "合计" %></td>
      <% end %>
      <!-- 收寄数 -->
      <td><u><%= link_to v[0], get_expresses_path("/expresses", nil, nil, nil, nil, nil, nil, nil,nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], nil, nil, nil, nil), target: '_blank' %></u></td>
      <!-- 总妥投数 -->
      <td><u><%= link_to v[1], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], nil, nil, nil, nil), target: '_blank' %></u></td>
      <!-- 本人收数 -->
      <td><u><%= link_to v[2], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], "own", nil, nil, nil), target: '_blank' %></u></td>
      <!-- 他人收数 -->
      <td><u><%= link_to v[3], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], "other", nil, nil, nil), target: '_blank' %></u></td>
      <!-- 单位/快递柜收数 -->
      <td><u><%= link_to v[4], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], "unit", nil, nil, nil), target: '_blank' %></u></td>
      <!-- 妥投率 -->
      <td><%= v[5].to_s(:rounded, precision: 2)+"%" %></td>
      <!-- 平均妥投天数 -->
      <td><%= v[6].to_s(:rounded, precision: 2) %></td>
      <!-- **日妥投率, **日妥投总数 -->
      <% i = 0.0

        while i <= params[:delivered_days_show].to_f-1
      %>
          <td><%= v[11][i][1].to_s(:rounded, precision: 2)+"%" %></td>
          <td><u><%= link_to v[11][i][0], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, i.to_s, k[0].blank? ? "nil" : k[0], nil, nil, nil, nil, nil), target: '_blank' %></u></td>
      <%
          i += 0.5
        end
      %>
      <!-- 未妥投总数 -->
      <td id='waiting'><%= link_to v[7], get_expresses_path("/expresses", nil, "waiting", nil, nil, nil, nil, nil, nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], nil, nil, nil, nil), target: '_blank' %></td>
      <!-- 未妥投率 -->
      <td><font color="red"><%= v[8].to_s(:rounded, precision: 2)+"%" %></font></td>
      <!-- 退回数 -->
      <td><u><%= link_to v[9], get_expresses_path("/expresses", nil, "returns", nil, nil, nil, nil, nil, nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], nil, nil, nil, nil), target: '_blank' %></u></td>
      <!-- 退回率 -->
      <td><%= v[10].to_s(:rounded, precision: 2)+"%" %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

