
<br>
<font face="微软雅黑" color='#006030' size=6>投递情况监控报表-省市维度</font>   
<%= form_tag(deliver_city_report_reports_path, name: 'form', method: 'post') do %>
  <table>
    <tr>
      <td>
        <%= link_to "报表导出", get_expresses_path("/reports/deliver_prov_city_report_export", nil, nil, nil, nil, nil, nil, nil, nil, params[:receiver_province_no], nil, nil), :class => 'btn btn-primary', method: :post%>
      </td>
    </tr>
  </table>
<% end -%>       
<br>
<% if !@results.blank? %>
  <table data-toggle="table" 
  data-height="700">
    <thead>
      <tr class= 'nowrap'>
        <th><b>收件市</b></th>
        <th><b>收寄数</b></th>
        <th><b>总妥投数</b></th>
        <th><b>本人收数</b></th>
        <th><b>他人收数</b></th>
        <th><b>单位/快递柜收数</b></th>
        <th><b>妥投率</b></th>
        <th><b>平均妥投天数</b></th>
        <th><b>当日妥投率</b></th>
        <th><b>当日妥投总数</b></th>
        <th><b>次日上午妥投率</b></th>
        <th><b>次日上午妥投总数</b></th>
        <th><b>次日妥投率</b></th>
        <th><b>次日妥投总数</b></th>
        <th><b>三日上午妥投率</b></th>
        <th><b>三日上午妥投总数</b></th>
        <th><b>三日妥投率</b></th>
        <th><b>三日妥投总数</b></th>
        <th><b>四日上午妥投率</b></th>
        <th><b>四日上午妥投总数</b></th>
        <th><b>五日上午妥投率</b></th>
        <th><b>五日上午妥投总数</b></th>
        <th><b>五日妥投率</b></th>
        <th><b>五日妥投总数</b></th>
        <th><b>未妥投总数</b></th>
        <th><b>未妥投率</b></th>
        <th><b>退回数</b></th>
        <th><b>退回率</b></th>
      </tr>
    </thead>
    <tbody>
    <% @results.each do |k, v| %>
     <tr class= 'nowrap'>
      <% if !k[0].blank? && !(k[0].eql?"合计") %>
        <td><%= k[1].blank? ? k[0] : k[1] %></td>
      <% else %>
        <td><%= k[0].blank? ? "其他" : "合计" %></td>
      <% end %>
      <td><u><%= link_to v[0], get_expresses_path("/expresses", nil, nil, nil, nil, nil, nil, nil,nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], nil), target: '_blank' %></u></td>
      <td><u><%= link_to v[1], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], nil), target: '_blank' %></u></td>
      <td><u><%= link_to v[2], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], "own"), target: '_blank' %></u></td>
      <td><u><%= link_to v[3], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], "other"), target: '_blank' %></u></td>
      <td><u><%= link_to v[4], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], "unit"), target: '_blank' %></u></td>
      <td><%= v[5].to_s(:rounded, precision: 2)+"%" %></td>
      <td><%= v[6].to_s(:rounded, precision: 2) %></td>
      <td><%= v[17].to_s(:rounded, precision: 2)+"%" %></td>
      <td><u><%= link_to v[18], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, "0", params[:receiver_province_no], k[0].blank? ? "nil" : k[0], nil), target: '_blank' %></u></td>
      <td><%= v[25].to_s(:rounded, precision: 2)+"%" %></td>
      <td><u><%= link_to v[26], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, "0.5", k[0].blank? ? "nil" : k[0], nil, nil), target: '_blank' %></u></td>
      <td><%= v[7].to_s(:rounded, precision: 2)+"%" %></td>
      <td><u><%= link_to v[8], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, "1", params[:receiver_province_no], k[0].blank? ? "nil" : k[0], nil), target: '_blank' %></u></td>
      <td><%= v[19].to_s(:rounded, precision: 2)+"%" %></td>
      <td><u><%= link_to v[20], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, "1.5", k[0].blank? ? "nil" : k[0], nil, nil), target: '_blank' %></u></td>
      <td><%= v[9].to_s(:rounded, precision: 2)+"%" %></td>
      <td><u><%= link_to v[10], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, "2", params[:receiver_province_no], k[0].blank? ? "nil" : k[0], nil), target: '_blank' %></u></td>
      <td><%= v[21].to_s(:rounded, precision: 2)+"%" %></td>
      <td><u><%= link_to v[22], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, "2.5", k[0].blank? ? "nil" : k[0], nil, nil), target: '_blank' %></u></td>
      <td><%= v[23].to_s(:rounded, precision: 2)+"%" %></td>
      <td><u><%= link_to v[24], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, "3.5", k[0].blank? ? "nil" : k[0], nil, nil), target: '_blank' %></u></td>
      <td><%= v[11].to_s(:rounded, precision: 2)+"%" %></td>
      <td><u><%= link_to v[12], get_expresses_path("/expresses", nil, "delivered", nil, nil, nil, nil, nil, "4", params[:receiver_province_no], k[0].blank? ? "nil" : k[0], nil), target: '_blank' %></u></td>
      <td id='waiting'><%= link_to v[13], get_expresses_path("/expresses", nil, "waiting", nil, nil, nil, nil, nil, nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], nil), target: '_blank' %></td>
      <td><font color="red"><%= v[14].to_s(:rounded, precision: 2)+"%" %></font></td>
      <td><u><%= link_to v[15], get_expresses_path("/expresses", nil, "returns", nil, nil, nil, nil, nil, nil, params[:receiver_province_no], k[0].blank? ? "nil" : k[0], nil), target: '_blank' %></u></td>
      <td><%= v[16].to_s(:rounded, precision: 2)+"%" %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

