
<br>
<font face="微软雅黑" color='#006030' size=6>VIP客户时效跟踪报表</font>   
<%= form_tag(international_express_report_reports_path, name: 'form', method: 'post') do %>
<%= hidden_field_tag('is_search', @is_search) %> 
<table>
  <tr style="line-height: 40px;height: 40px;"> 
    <td><%= label_tag(:country, "寄达国:") %></td>
    <td><%= select_tag(:country, options_for_select(Country.all.map{|c| [c.name,c.id]}.insert(0,""), :selected=> params[:country]), id: "country") %></td>
  </tr>
  <tr>
    <td><%= label_tag(:posting_date_start, "收寄范围:") %></td>
    <td><%= text_field_tag(:posting_date_start, params[
      :posting_date_start], class: 'datepicker', 'data-date-format' => 'yyyy-mm-dd', value: params[:posting_date_start]) %></td>
    <td><%= label_tag(:posting_date_end, "-") %></td>
    <td><%= text_field_tag(:posting_date_end, params[:posting_date_end], class: 'datepicker', 'data-date-format' => 'yyyy-mm-dd', value: params[:posting_date_end]) %></td>
  </tr>
</table>
<table>
    <tr>
      <td>
        <div id="international_search">
          <%= submit_tag "查询", :class => 'btn btn-primary', method: :post %>
        </div>
      </td>
      <td>
        <div id="export">
          <%= link_to "报表导出", "/reports/international_express_report_export", :class => 'btn btn-primary', method: :post%>
        </div>
      </td>
    </tr>
  </table>
<% end -%>    
  
<br>

<%= render :partial => 'international_express_result' %>
