<br>
<font face="微软雅黑" color='#006030' size=6>返单用户报表</font>   

<%= render :partial => 'form' %>

<br>
<% if !@results.blank? %>
  <table data-toggle="table" 
  data-height="700">
    <thead>
      <tr class= 'nowrap'>
        <th><b>客户名称</b></th>
        <th><b>正向邮件总收寄数</b></th>
        <th><b>正向邮件妥投数</b></th>
        <th><b>正向邮件未妥投数</b></th>
        <th><b>正向邮件妥投返单邮件收寄数</b></th>
        <th><b>正向邮件妥投返单邮件未收寄数</b></th>
        <th><b>返单邮件返回数</b></th>
        <th><b>返单邮件未返回数</b></th>
        <th><b>正向邮件退回数</b></th>
        <th><b>正向邮件未妥投返单邮件已收寄数</b></th>
        <th><b>返单邮件返单率%</b></th>
      </tr>
    </thead>
    <tbody>
    <% @results.each do |k, v| %>
      <tr class= 'nowrap'>
        <td><%= (k.eql?"合计") ? k : k.name %></td>
        <td><u><%= link_to v[0], get_expresses_path(nil, nil, nil, (k.eql?"合计") ? nil : k.id, nil, "forward", nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[1], get_expresses_path(nil, "delivered", nil, (k.eql?"合计") ? nil : k.id, nil, "forward", nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[2], get_expresses_path(nil, "waiting", nil, (k.eql?"合计") ? nil : k.id, nil, "forward", nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[3], get_expresses_path(nil, "delivered", nil, (k.eql?"合计") ? nil : k.id, nil, "forward", "receipt_receive"), target: '_blank' %></u></td>
        <td><u><%= link_to v[4], get_expresses_path(nil, "delivered", nil, (k.eql?"合计") ? nil : k.id, nil, "forward", "no_receipt_receive"), target: '_blank' %></u></td>
        <td><u><%= link_to v[5], get_expresses_path(nil, "delivered", nil, (k.eql?"合计") ? nil : k.id, nil, "receipt", nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[6], get_expresses_path(nil, "waiting", nil, (k.eql?"合计") ? nil : k.id, nil, "receipt", nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[7], get_expresses_path(nil, "returns", nil, (k.eql?"合计") ? nil : k.id, nil, "forward", nil), target: '_blank' %></u></td>
        <td id='waiting'><%= link_to v[8], get_expresses_path(nil, "not_delivered", nil, (k.eql?"合计") ? nil : k.id, nil, "forward", "receipt_receive"), target: '_blank' %></td>
        <td><%= v[9].to_s(:rounded, precision: 2)+"%" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
