<br>
<font face="微软雅黑" color='#006030' size=6>返单用户报表</font>   
<%= form_tag(receipt_report_reports_path, name: 'form', method: 'post') do %>
<%= render :partial => 'form' %>
<table>
    <tr>
      <td>
        <div id="market_monitor_search">
          <%= submit_tag "查询", :class => 'btn btn-primary showmask', method: :post %>
        </div>
      </td>
      <td>
        <div id="export">
          <%= link_to "报表导出", get_expresses_path("/reports/receipt_report_export", nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil), :class => 'btn btn-primary', method: :post%>
        </div>
      </td>
    </tr>
  </table>
<% end -%>   

<br>
<% if !@results.blank? %>
  <table data-toggle="table" 
  data-height="700">
    <thead>
      <tr class= 'nowrap'>
        <th><b>客户名称</b></th>
        <th><b>正向邮件总收寄数</b></th>
        <th><b>正向邮件妥投数</b></th>
        <th><b>正向邮件未妥投数</b></th>
        <th><b>正向邮件妥投返单邮件收寄数</b></th>
        <th><b>正向邮件妥投返单邮件未收寄数</b></th>
        <th><b>返单邮件返回数</b></th>
        <th><b>返单邮件未返回数</b></th>
        <th><b>正向邮件退回数</b></th>
        <th><b>正向邮件未妥投返单邮件已收寄数</b></th>
        <th><b>返单邮件返单率%</b></th>
      </tr>
    </thead>
    <tbody>
    <% @results.each do |k, v| %>
      <tr class= 'nowrap'>
        <td><%= (k.eql?"合计") ? k : k.name %></td>
        <td><u><%= link_to v[0], get_expresses_path("/expresses", nil, nil, nil, (k.eql?"合计") ? nil : k.id, nil, "forward", nil, nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[1], get_expresses_path("/expresses", nil, "delivered", nil, (k.eql?"合计") ? nil : k.id, nil, "forward", nil, nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[2], get_expresses_path("/expresses", nil, "waiting", nil, (k.eql?"合计") ? nil : k.id, nil, "forward", nil, nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[3], get_expresses_path("/expresses", nil, "delivered", nil, (k.eql?"合计") ? nil : k.id, nil, "forward", "receipt_receive_or_delivered", nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[4], get_expresses_path("/expresses", nil, "delivered", nil, (k.eql?"合计") ? nil : k.id, nil, "forward", "no_receipt_receive", nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[5], get_expresses_path("/expresses", nil, nil, nil, (k.eql?"合计") ? nil : k.id, nil, "forward", "receipt_delivered", nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[6], get_expresses_path("/expresses", nil, nil, nil, (k.eql?"合计") ? nil : k.id, nil, "forward", "receipt_receive", nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
        <td><u><%= link_to v[7], get_expresses_path("/expresses", nil, "returns", nil, (k.eql?"合计") ? nil : k.id, nil, "forward", nil, nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></u></td>
        <td id='waiting'><%= link_to v[8], get_expresses_path("/expresses", nil, "not_delivered", nil, (k.eql?"合计") ? nil : k.id, nil, "forward", "receipt_receive_or_delivered", nil, nil, nil, nil, nil, nil, nil, nil), target: '_blank' %></td>
        <td><%= v[9].to_s(:rounded, precision: 2)+"%" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
