
<br>
<font face="微软雅黑" color='#006030' size=6>中免全国时限达成情况表</font>   
<br><br><br>
<%= form_tag(zm_time_limit_report_reports_path, name: 'form', method: 'post') do %>
<%= hidden_field_tag('is_search', @is_search) %> 
<table>
  <tr>
    <td><%= label_tag(:posting_date_start, "收寄日期:") %></td>
    <td><%= text_field_tag(:posting_date_start, params[
      :posting_date_start], class: 'datepicker', 'data-date-format' => 'yyyy-mm-dd', value: params[:posting_date_start].blank? ? (Date.today-7.days) : params[:posting_date_start]) %></td>
    <td><%= label_tag(:posting_date_end, "-") %></td>
    <td><%= text_field_tag(:posting_date_end, params[:posting_date_end], class: 'datepicker', 'data-date-format' => 'yyyy-mm-dd', value: params[:posting_date_end].blank? ? Date.yesterday : params[:posting_date_end]) %></td>
  </tr>
</table>
<br><br>
<table>
    <tr>
      <td>
        <div id="zm_time_limit_search">
          <%= submit_tag "查询", :class => 'btn btn-primary showmask', method: :post %>
        </div>
      </td>
      <td>
        <div id="export">
          <%= link_to "报表导出", zm_time_limit_report_export_reports_path(posting_date_start: params[:posting_date_start], posting_date_end: params[:posting_date_end]), :class => 'btn btn-primary', method: :post%>
        </div>
      </td>
    </tr>
  </table>
<% end -%>    
  
<br>

<%= render :partial => 'zm_time_limit_result' %>
